<footer class="footer">
	<small>
		The <a href="http://localhost:3000/">Bugzilla</a>
		by <a href="http://www.facebook.com/ihashirkhan">Hashir Rehman Khan</a>
	</small>

	<nav>
		<ul>
			<small><span class="footer_text">Copyright © 2018. All Rights Reserved.</span></small>
		</ul>
	</nav>
</footer>